.link-button {
  @extend .flex-centered-row;
  position: relative;
  width: 100%;
  width: 130px;
  height: 53px;
  margin: 6px;
  flex-grow: 1;
}

.btn-shadow {
  position: absolute;
  background: $black;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  bottom: -5px;
  left: 5px;
}

.btn-front {
  position: absolute;
  width: 100%;
  background-color: $whiteColor;
  border: 3px solid $black;
  font-weight: $bold;
  border-radius: 8px;
  padding: 2px 5px 0 5px; //for mobile
  margin: 0;

  &:hover {
    transform: translateY(-2px);
    background: $accentColor;
  }

  &:focus {
    outline: 8px solid $accentColor;
  }

  &:active {
    outline: none;
    transform: translateY(2px);
  }
}

.btn-front img {
  margin: 0 1px 4px 5px;
  padding: 2px;
}
