.link-button {
  position: relative;
  @extend .flex-centered-row;
  font-weight: $bold;
  background-color: $whiteColor;
  background-color: transparent;
  // width: 130px;
  width: 100%;
  height: 53px;
  border-radius: 8px;
  margin: 8px 4px;
  padding-top: 2px;
  padding: 2px 5px 0 5px;

  .shadow {
    position: absolute;
    background: $black;
    height: 100%;
    width: calc(97% - 10px);

    border-radius: 8px;
    top: 5px;
    right: 5px;
    z-index: -1;
  }

  .btn-front {
    background-color: $whiteColor;
    border: 3px solid $black;

    &:hover {
      transform: translateY(-1px);
      background: $accentColor;
    }

    &:focus {
      outline: 8px solid $accentColor;
    }

    &:active {
      outline: none;
      transform: translateY(1px);
    }
  }

  img {
    padding: 0 3px 4px 3px;
  }
}
