.link-button {
  @extend .flex-centered-row;
  position: relative;
  width: 100%;
  width: 130px;
  height: 45px;
  margin: 5px;
  flex-grow: 1;
  text-align: center;
}

.btn-shadow {
  position: absolute;
  background: $black;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  bottom: -2px;
  left: -2px;
}

.btn-front {
  position: absolute;
  width: 100%;
  background-color: $whiteColor;
  border: 3px solid $black;
  font-weight: $bold;
  line-height: 100%;
  border-radius: 8px;
  padding: 2px 5px 0 5px; //for mobile
  margin: 0;
  transition: 75ms ease-in;

  &:hover {
    transform: translateY(-2px) translateX(2px);
    background: $accentColor;
  }

  &:active {
    outline: none;
    transform: translateY(2px) translateX(-2px);
  }
}

.btn-front img {
  margin: 0 1px 4px 5px;
  padding: 2px;
}
