.projects-container {
  @extend .flex-centered-row;
  align-items: stretch;
  flex-wrap: wrap;

  .project {
    @extend .flex-centered-row;
    position: relative;
    color: $whiteColor;
    color: $black;
    padding: 125px 50px;
    background-color: $black;
    background-color: #fff;
    margin: 40px auto;
    border-radius: 20px;
    width: calc(100vw - 80px);
    max-width: 1200px;
    z-index: 2;

    .content {
      padding: 0 75px 0 0;
      max-width: 375px;

      h2 {
        font-size: 2.4rem;
      }

      .bi-line {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 10px 0 50px 0;
      }

      p {
        margin: 30px 0;
        line-height: 175%;
      }

      @include tablet-media-query {
        font-size: 1.2rem;
      }
    }

    .samples-container {
      position: relative;
      max-width: 619px;
      margin-top: -35px;

      .tablet {
        width: 100%;
        height: auto;
        max-width: 619px;
      }

      .mobile {
        position: absolute;
        width: 100%;
        height: auto;
        max-width: 619px;
        right: -20px;
        top: 30%;
        transform-origin: top right;
      }
    }

    .project-link-buttons {
      @extend .flex-centered-row;
      flex-wrap: wrap;
      justify-content: space-between;

      .link-button {
        flex-grow: 1;
      }

      .btn-front {
        @extend .flex-centered-row;
        flex-wrap: wrap;
        text-align: center;
      }

      .more-info {
        width: 100%;
      }
    }

    @include tablet-media-query {
      flex-wrap: wrap-reverse;

      .content {
        margin-top: 60px;
        padding-right: 0;
        max-width: 500px;
      }
    }

    @include phone-media-query {
      width: 90vw;
      padding: 100px 30px;
      margin: 30px auto;

      .content {
        margin-top: 40px;
      }
    }
  }

  // .project-1 {
  //   background-color: #02a5de;
  // }

  // .project-2 {
  //   background-color: #dd1312;
  // }

  // .project-3 {
  //   background-color: #363636;
  // }

  // .project-4 {
  //   background-color: #0296fe;
  // }
}
