.projects-container {
  @extend .flex-centered-row;
  align-items: stretch;
  flex-wrap: wrap;
  width: calc(100vw - 80px);
  margin: 0 auto;
}

.project {
  @extend .flex-centered-row;
  position: relative;
  color: $black;
  padding: 150px 100px;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;

  &:not(:last-child)::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 75vw;
    height: 2px;
    border-bottom: 1px dotted $black;
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../img/head.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    z-index: 1;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.content {
  padding: 0 25px;
  max-width: 450px;
}

.project-title {
  font-size: 2.4rem;
}

.bi-line {
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 10px 0 30px 2px;
}

.tech-stack {
  @extend .flex-centered-row;
  justify-content: flex-start;
}

.tech-icon {
  border-radius: 5px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.1);
}

.tech-item:not(:last-of-type) {
  margin-right: 17px;
}

.samples-container {
  position: relative;
  max-width: 619px;
  width: 50vw; //new
  padding: 0 25px;
  margin-top: -50px;
}

.tablet {
  width: 100%;
  height: auto;
  max-width: 619px;
}

.mobile {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 619px;
  right: -5px;
  top: 20%;
  transform-origin: top right;
}

.project-link-buttons {
  @extend .flex;
  flex-wrap: wrap;
}

.more-info {
  width: 100%;
}

.view-more {
  width: 70vw;
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);
}

@include touch-device-media-query {
  .project {
    flex-wrap: wrap-reverse;
  }

  .content {
    margin-top: 60px;
    padding-right: 0;
    max-width: 500px;
  }
}

@include phone-media-query {
  .project {
    width: 100vw;
    padding: 70px 30px 100px 30px;
    margin: 0 auto;

    &:not(:last-child)::before {
      width: 85vw;
    }
  }

  .content {
    margin-top: 40px;
    width: 80vw;
  }

  .samples-container {
    width: 80vw;
    margin-left: -20px;
  }

  .project-link-buttons {
    justify-content: center;
    width: 100%;
  }

  .view-more {
    width: 80vw;
  }
}

// .project-1 {
//   background-color: #02a5de;
// }

// .project-2 {
//   background-color: #dd1312;
// }

// .project-3 {
//   background-color: #363636;
// }

// .project-4 {
//   background-color: #0296fe;
// }
