.quote {
  @extend .flex-centered-column;
  margin: 15vh 0 10vh 0;
  padding: 0 100px;

  img {
    width: 100%;
    max-width: 90vw;
    height: auto;
    margin: 15px 0;
  }

  .free-container {
    position: relative;
    @extend .flex-centered-row;
    width: 100%;
    max-width: 90vw;
    align-items: baseline;
    overflow-x: hidden;
  }

  .free-1 {
    width: 53.5%;
    padding-right: 5px;
  }
  .free-2 {
    width: 46.5%;
    padding-left: 5px;
  }

  .free {
    margin-top: 20px;
  }

  @include phone-media-query {
    margin: 15vh 0 55px 0;
    padding: 0;

    img {
      margin: 5px 0;
      max-width: 90vw;
    }
    .free-container {
      margin-top: 8px;
      max-width: 90vw;
    }
  }
}
