// Variables
$black: #1e1e1e;
$whiteColor: #fff;
$accentColor: #fdc11e;
$semiBold: 600;
$extraBold: 800;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

.link-button {
  position: relative;
  @extend .flex-centered-row;
  font-weight: $extraBold;
  background-color: $whiteColor;
  border: 5px solid $black;
  width: 130px;
  height: 53px;
  border-radius: 8px;
  margin: 5px;
  padding-top: 2px;
  z-index: 2;

  img {
    padding: 0 3px 2px 3px;
  }
}

// Extend Classes
.flex {
  display: flex;
}

.flex-centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-default-medium {
  font-size: 1.3rem;
  line-height: 160%;
  margin: 40px 0;
}

// Header
header {
  @extend .flex;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
  padding: 5px 20px;

  .logo {
    width: 27px;
    height: auto;
  }

  ul {
    @extend .flex;

    li {
      margin: 0 15px;

      &:active {
        transform: scale(0.95);
        transition: transform 300ms;
      }

      a {
        @extend .font-default-medium;
        position: relative;
        font-weight: $extraBold;

        &:after {
          content: '';
          display: block;
          width: 100%;
          transform: scaleX(0);
          transform-origin: left;
          height: 7px;
          border-radius: 1px;
          background-color: $accentColor;
          transition: transform 150ms;
          margin-top: -3px;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 20;
    background-color: #fff;
    box-shadow: 5px 3px 15px #707070;
  }
}

// Intro Section
.intro-section {
  @extend .flex-centered-row;
  height: calc(100vh - 60px);
  padding: 0 30px;

  @media screen and (max-width: 920px) {
    margin-top: 50px;
    flex-direction: column;
    height: auto;
  }

  .drawing {
    height: 75vh;
    width: auto;
    margin-right: 50px;

    @media screen and (max-width: 920px) {
      height: 50vh;
      order: 1;
      margin: 0;
    }

    @media screen and (max-width: 550px) {
      height: 250px;
    }
  }

  .intro-heading {
    position: relative;
    width: 100%;
    max-width: 475px;

    .name-container {
      .i-dot {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: auto;
      }

      .brandi-name-lg {
        transform-origin: bottom;
        width: 100%;
        height: auto;
      }

      .title {
        width: 100%;
        height: auto;
        margin-top: -17px;
      }
    }
  }

  p {
    @extend .font-default-medium;
    font-weight: $semiBold;

    @media screen and (max-width: 550px) {
      font-size: 1.2rem;
      padding: 0 10px;
    }
  }

  .intro-em {
    position: relative;
    top: 2px;
  }
}

// Quote

.quote {
  @extend .flex-centered-column;
  margin: 20vh 0 25vh 0;
  img {
    width: 100%;
    max-width: 80vw;
    height: auto;
  }

  .the {
    transform-origin: bottom;
  }

  .free {
    margin-top: 20px;
  }

  @media screen and (max-width: 920px) {
    margin: 25vh 0;
  }

  @media screen and (max-width: 550px) {
    margin: 15vh 0 25vh 0;
    .free {
      margin-top: 8px;
    }
  }
}

// Projects

.projects-container {
  @extend .flex-centered-row;
  align-items: stretch;
  flex-wrap: wrap;

  .project {
    @extend .flex-centered-row;
    position: relative;
    color: $whiteColor;
    padding: 125px 50px;
    background-color: $black;
    margin: 40px auto;
    border-radius: 20px;
    width: calc(100vw - 80px);
    max-width: 1200px;

    .content {
      padding: 0 75px 0 0;
      max-width: 375px;

      h2 {
        font-size: 2.4rem;
      }

      .bi-line {
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 10px 0 50px 0;
      }

      p {
        margin: 30px 0;
        line-height: 160%;
      }

      @media screen and (max-width: 920px) {
        font-size: 1.2rem;
      }
    }

    .samples-container {
      position: relative;
      max-width: 619px;

      .sample {
        // filter: drop-shadow(30px 15px 25px rgba(0, 0, 0, 0.4));
        filter: drop-shadow(rgba(0, 0, 0, 0.4) 30px 15px 25px);
      }

      .tablet {
        width: 100%;
        height: auto;
        max-width: 619px;
      }

      .mobile {
        position: absolute;
        width: 100%;
        height: auto;
        max-width: 619px;
        right: -10px;
        top: 30%;
        transform-origin: top left;
      }
    }

    @media screen and (max-width: 920px) {
      flex-wrap: wrap-reverse;

      .content {
        margin-top: 60px;
        padding-right: 0;
        max-width: 500px;
      }
    }

    @media screen and (max-width: 550px) {
      width: 100vw;
      border-radius: 0;
      padding: 125px 30px;
      margin: 0 auto;
    }

    .project-link-buttons {
      @extend .flex-centered-row;
      flex-wrap: wrap;
      justify-content: space-between;

      .link-button {
        flex-grow: 1;
      }

      .more-info {
        width: 100%;
      }
    }
  }

  .project-1 {
    background-color: #02a5de;
  }

  .project-2 {
    background-color: #dd1312;
  }

  .project-3 {
    background-color: #363636;
  }

  .project-4 {
    background-color: #0296fe;
  }
}
