// Variables
$black: #1e1e1e;
$whiteColor: #fff;
$accentColor: #fdc11e;
$bold: 800;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 4rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $black;
  // so confetti doesn't cause horizontal scroll before it runs
  // overflow-x: hidden;
}

.skip-to-content-link {
  position: absolute;
  background: #fff;
  border: 8px solid $black;
  font-weight: $bold;
  border-radius: 8px;
  padding: 12px 15px;
  top: 8px;
  left: 8px;
  transform: translateY(-115%);
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;

  &:focus {
    outline: 8px solid $accentColor;
  }

  &:active {
    outline: none;
  }
}

.link-button {
  position: relative;
  @extend .flex-centered-row;
  font-weight: $bold;
  background-color: $whiteColor;
  background-color: transparent;
  width: 130px;
  height: 53px;
  border-radius: 8px;
  margin: 8px 4px;
  padding-top: 2px;

  .shadow {
    position: absolute;
    background: $black;
    height: 100%;
    width: 100%;
    width: calc(97% - 5px);
    border-radius: 8px;
    top: 5px;
    right: 5px;
    z-index: -1;
  }

  .btn-front {
    background-color: $whiteColor;
    border: 3px solid $black;
  }

  .btn-front:hover {
    transform: translateY(-1px);
  }

  .btn-front:active {
    transform: translateY(1px);
  }

  img {
    padding: 0 3px 4px 3px;
  }
}

// Extend Classes
.flex {
  display: flex;
}

.flex-centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-default-medium {
  font-size: 1.3rem;
  line-height: 160%;
  margin: 40px 0;
}

// Header
header {
  @extend .flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  .logo {
    width: 27px;
    height: auto;
  }

  ul {
    @extend .flex;

    li {
      margin: 0 15px;

      &:active {
        transform: scale(0.95);
        transition: transform 300ms;
      }

      a {
        @extend .font-default-medium;
        font-weight: $bold;
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 100%;
          transform: scaleX(0);
          transform-origin: left;
          height: 7px;
          border-radius: 1px;
          background-color: $accentColor;
          transition: transform 150ms;
          margin-top: -3px;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 20;
    background-color: #fff;
    box-shadow: 5px 3px 15px #707070;
  }
}

// Intro Section
.intro-section {
  @extend .flex-centered-column;
  height: calc(100vh - 80px);
  padding: 0 20px;

  @media screen and (max-width: 920px) {
    margin-top: 50px;
    flex-direction: column;
    height: auto;
  }

  .drawing {
    height: 25vh;
    width: auto;

    @media screen and (max-width: 920px) {
      height: 50vh;
      order: 1;
      margin: 0;
    }

    @media screen and (max-width: 550px) {
      height: 250px;
    }
  }

  .name-container {
    position: relative;
    width: 100%;
    max-width: 500px;

    .intro-heading {
      position: relative;

      .i-dot {
        position: absolute;
        right: 0;
        top: -2px;
        width: 100%;
        height: auto;
      }

      .intro-paragraph {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Quote

.quote {
  @extend .flex-centered-column;
  margin: 20vh 0 25vh 0;

  img {
    width: 100%;
    max-width: 80vw;
    height: auto;
    margin: 15px 0;
  }

  .free-container {
    position: relative;
    @extend .flex-centered-row;
    width: 100%;
    max-width: 80vw;
    align-items: baseline;
  }

  .free-1 {
    width: 53.5%;
  }
  .free-2 {
    width: 46.5%;
  }

  .free {
    margin-top: 20px;
  }

  @media screen and (max-width: 920px) {
    margin: 15vh 0;
  }

  @media screen and (max-width: 550px) {
    margin: 15vh 0 13vh 0;

    img {
      margin: 5px 0;
      max-width: 90vw;
    }
    .free-container {
      margin-top: 8px;
      max-width: 90vw;
    }
  }
}

// Projects

.projects-container {
  @extend .flex-centered-row;
  align-items: stretch;
  flex-wrap: wrap;

  .project {
    @extend .flex-centered-row;
    position: relative;
    color: $whiteColor;
    padding: 125px 50px;
    background-color: $black;
    margin: 40px auto;
    // width: 100vw;
    border-radius: 20px;
    width: calc(100vw - 80px);
    max-width: 1200px;
    z-index: 2;

    .content {
      padding: 0 75px 0 0;
      max-width: 375px;

      h2 {
        font-size: 2.4rem;
      }

      .bi-line {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 10px 0 50px 0;
      }

      p {
        margin: 30px 0;
        line-height: 175%;
      }

      @media screen and (max-width: 920px) {
        font-size: 1.2rem;
      }
    }

    .samples-container {
      position: relative;
      max-width: 619px;
      margin-top: -35px;

      .tablet {
        width: 100%;
        height: auto;
        max-width: 619px;
      }

      .mobile {
        position: absolute;
        width: 100%;
        height: auto;
        max-width: 619px;
        right: -20px;
        top: 30%;
        transform-origin: top right;
      }
    }

    .project-link-buttons {
      @extend .flex-centered-row;
      flex-wrap: wrap;
      justify-content: space-between;

      .link-button {
        flex-grow: 1;
      }

      .more-info {
        width: 100%;
      }
    }

    @media screen and (max-width: 920px) {
      flex-wrap: wrap-reverse;

      .content {
        margin-top: 60px;
        padding-right: 0;
        max-width: 500px;
      }
    }

    @media screen and (max-width: 550px) {
      width: 90vw;
      padding: 100px 30px;
      margin: 30px auto;

      .content {
        margin-top: 40px;
      }

      .project-link-buttons {
        flex-direction: column;
        padding-top: 15px;

        .link-button {
          width: 100%;
        }
      }
    }
  }

  .project-1 {
    background-color: #02a5de;
  }

  .project-2 {
    background-color: #dd1312;
  }

  .project-3 {
    background-color: #363636;
  }

  .project-4 {
    background-color: #0296fe;
  }
}

// 404 PAGE

.page-not-found {
  @extend .flex-centered-column;
  height: 90vh;

  h1 {
    font-size: 3rem;
  }

  .drawing {
    height: 40vh;
    width: auto;
    margin: 20px auto 40px auto;
  }

  .link-button {
    width: 300px;
    height: 75px;
  }
}
