// Intro Section
.intro-section {
  @extend .flex-centered-row;
  height: 100vh;
}

.drawing {
  height: 40vh;
  width: auto;
}

.drawing-desktop {
  margin-bottom: 50px;
  margin-right: 40px;
}

.drawing-mobile {
  display: none;
}

.name-container {
  position: relative;
  width: 100%;
  max-width: 480px;
}

.intro-heading {
  position: relative;
}

.i-dot {
  position: absolute;
  right: 0;
  top: -2px;
  width: 100%;
  height: auto;
}

.name-lg {
  width: 100%;
  height: auto;
}

.intro-paragraph {
  max-width: 480px;
  font-weight: $bold;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 150%;
}

@include tablet-media-query {
  .intro-section {
    flex-direction: column;
  }

  .drawing-desktop {
    display: none;
  }

  .drawing-mobile {
    display: block;
    margin: 0 auto;
  }
}

@include phone-media-query {
  .intro-section {
    margin-top: 20px;
    height: auto;
  }

  .name-container {
    width: 275px;
  }

  .drawing-mobile {
    height: 35vh;
  }

  .intro-paragraph {
    font-size: 1.2rem;
    text-align: left;
    width: 285px;
    line-height: 150%;
    margin: 20px auto 25px auto;
    // border: 1px solid red;
  }
}

@include phone-landscape-media-query {
  .intro-section {
    margin-top: 60px;
    height: auto;
    padding: 0 100px;
  }
}
