.quote {
  @extend .flex-centered-column;
  background: $accentGradient;
  padding: 200px 100px;
  margin: 35px 45px 50px 45px;
  transform: skewY(-7deg);
  overflow-x: hidden;
}

.quote-image {
  width: 100%;
  max-width: 90vw;
  height: auto;
  margin: 15px 0;
}

.free-container {
  position: relative;
  @extend .flex-centered-row;
  width: 100%;
  max-width: 90vw;
  align-items: baseline;
}

.free-1 {
  width: 53.5%;
  padding-right: 5px;
}

.free-2 {
  width: 46.5%;
  padding-left: 5px;
}

.free {
  margin-top: 20px;
}

@include phone-media-query {
  .quote {
    padding: 125px 0;
    margin: 100px 0 0 0;
  }

  .quote-image {
    margin: 5px 0;
    max-width: 90vw;
  }

  .free-container {
    margin-top: 8px;
    max-width: 90vw;
  }

  .free-1 {
    padding-right: 1px;
  }

  .free-2 {
    padding-left: 1px;
  }
}
